<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox Main</title>
</head>
<body>
<header>
    <u1>
        <li><a href="/">Information</a></li>
        <li><a href="/">Nutrition Store</a></li>
        <li><a href="/">Trick Center</a></li>
        <li><a href="/">Action history</a></li>
    </u1>
<p></p>
<div>
    <img src="greenfox.png" alt="fox img">
</div>
</header>
<p></p>
<main>
    <div>
        This is (name, default!). Currently living on (food) and (drink). He/she knows (list size) trick(s).
    <h2>This is
    <span th:text="${name}"></span> . Currently living on (food) and (drink).
        He/she knows (list size) trick(s).
    </h2>
    <h2> Known tricks </h2>
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>..</li>
    </ul>
    </div>
</main>
</body>
</html>