<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition View</title>
</head>
<body>
<header>
    <u1>
        <u1>
            <li><a th:href="@{'/?name=' + ${name}}">Information</a></li>
            <li><a th:href="@{'/nutritionStore/?name=' + ${name}}">Nutrition Store</a></li>
            <li><a href="/login">Trick Center</a></li>
            <li><a href="/login">Action history</a></li>
        </u1>
</header>
<main>
    <p>Here you can change the food and drink for your FOX. </p>
    <p>Please pay attention to the health of your FOX:)</p>
    <form th:action="@{'/nutritionStore?name='+ ${selectedFox.name}}" th:method="post">
        <label for="food">Food</label>
        <select name="selectedFood" id="food">
            <option th:each="food : ${T(com.greenfoxacademy.fox_club.models.Food).values()}"
                    th:value="${food}"
                    th:text="${food}"
                    th:selected="${selectedFox.getFood()} == ${food}">
            </option>
        </select>
        </select>
        <label for="drink">Drink</label>
        <select name="selectedDrink" id="drink">
            <option th:each="drink : ${T(com.greenfoxacademy.fox_club.models.Drink).values()}"
                    th:value="${drink}"
                    th:text="${drink}"
                    th:selected="${selectedFox.getDrink()} == ${drink}">
            </option>
        </select>
        </select>
        <button type="submit">Change</button>
    </form>
</main>

</body>
</html>