<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css"/>
    <title>Title</title>
</head>
<body>


<header>
    <h1>BC KORMEND OFFICIAL WEBSHOP</h1>

    <nav>
        <a href="/only-available" target="blank">ONLY AVAILABLE</a>
        <a href="/cheapest-first" target="blank">CHEAPEST FIRST</a>
        <a href="/contains-Whilson" target="blank">CONTAINS WHILSON</a>
        <a href="/average-stock" target="blank">AVERAGE STOCK</a>
        <a href="/most-expensive" target="blank">MOST EXPENSIVE AVAILABLE</a>
    </nav>
</header>
<p>
    Search for:
</p>

<div class="search-container">
    <form action="/action_page.php">
        <input type="text" placeholder="Somethink like nike..." name="search">
        <button type="submit">Search</button>
    </form>
</div>

<table>

    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.quantityOfStock}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>