<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banc Accounts</title>
    <meta charset="utf-8"/>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
        <th>Index</th>
        <th>Is a King?</th>
        <th>Is Good Guy??</th>

    </tr>
    <tr th:each="bankAccount:${bankAccounts}" th:object="${bankAccount}">
        <td th:text="*{name}"></td>
        <td th:text="(*{#numbers.formatCurrency(getBalance())} + ' Zebra')"></td>
        <td th:text="*{animalType}"></td>
        <td th:text="${bankAccountStat.count}"></td>
        <td th:utext="*{isAKing}== true ?  '<b> yes </b>' : 'no'"></td>
        <td th:utext="*{isGoodGuy}== true ?  '<b> yes </b>' : 'no'"></td>
    </tr>
</table>
<h2>Add new bankaccount: </h2>
<form action="/show" method="post" th:object="${emptyAccount}">
    <label>Name:</label>
    <input type="text" th:field="*{name}"><br>
    <label>Balance:</label>
    <input type="number" th:field="*{balance}"><br>
    <label>Animal type:</label>
    <input type="text" th:field="*{animalType}"><br>
    <label>Is he/she a king?:</label>
    <input type="text" th:field="*{isAKing}"><br>
    <label>Is he/she a good guy:</label>
    <input type="text" th:field="*{isGoodGuy}"><br>
    <button type="submit">Add bankaccount</button>
</form>
</body>
</html>




