<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banc Accounts</title>
    <meta charset="utf-8"/>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
        <th>Index</th>
        <th>Is a King?</th>

    </tr>
    <tr th:each="bankAccount:${bankAccounts}" th:object="${bankAccount}">
        <td th:text="*{name}"></td>
        <td th:text="(*{#numbers.formatCurrency(getBalance())} + ' Zebra')"></td>
        <td th:text="*{animalType}"></td>
        <td th:text="${bankAccountStat.count}"></td>
        <td th:utext="*{isAKing}== true ?  '<b> yes </b>' : 'no'"></td>
    </tr>
</table>
</body>
</html>

<!--

"${gender}=='male' ?  'Hi buddy'  :  'I am so pleased to see you'"
Add a new column to your template where you show us that the owner of the BankAccount is a King
If he is a King, make the text look shiny: add some design according to your taste :)
-->


