<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banc Accounts</title>
    <meta charset="utf-8" />
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>

    </tr>
    <tr th:each="bankAccount:${bankAccounts}" th:object="${bankAccount}">
        <td th:text="*{name}"></td>
        <td th:text="(*{#numbers.formatCurrency(getBalance())} + ' Zebra')"></td>
        <td th:text="*{animalType}"></td>
    </tr>
</table>
</body>
</html>


