<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<header>
    <br>
    <nav>
    <u1>
        <a href="/reddit/submit">Submit new post</a>
    </u1>
    </nav>
<br>
</header>

<h2>Trending posts</h2>

<table>
    <tr>
        <th>Actual votes</th>
        <th>Upgrade</th>
        <th>Downgrade</th>
        <th>Title</th>
    </tr>
    <tr th:each="article : ${articles}" th:object="${article}">
        <td th:text="${article.numberOfVotes}" ></td>
        <td text="+"></td>
        <td text="-"></td>
        <td th:text="${article.title}"></td>
    </tr>
</table>
</body>
</html>