<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<header>
    <br>
    <nav>
    <u1>
        <li><a th:href="@{'/reddit/submit/?name=' + ${name}}">Submit new post</a></li>
        <li><a>Current user:  <span th:text="${name}"></span></a></li>
    </u1>
    </nav>
<br>
</header>

<h2>Trending posts</h2>

<table>
    <tr>
        <th>Actual votes</th>
        <th>Vote it up!</th>
        <th>Vote it down!</th>
        <th>Title</th>
        <th>Date</th>
    </tr>
    <tbody>
    <tr th:each="article : ${articles}" th:object="${article}">
        <td th:text="${article.numberOfVotes}" ></td>
        <td><a th:href="@{'/reddit/vote/?vote=up&id=' + ${article.id}}">+</a></td>
        <td><a th:href="@{'/reddit/vote/?vote=down&id=' + ${article.id}}">-</a></td>
        <td><a th:href="${article.url}" target="blank" th:text="${article.title}"></a></td>
        <td th:text="${article.date}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>