<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Page</title>
</head>
<body>
<h3>Submit a new post</h3>
<br>
<form action="/reddit/submit" th:object="${newArticle}" method="post">
    <label>Title</label><br>
    <input type="text" th:field="*{title}" placeholder="the title of your post comes here..."><br>

    <label>Url</label><br>
    <input type="text" th:field="*{url}"  placeholder="type a url for your post..."><br>

    <label>Current user</label><br>
    <input type="hidden" name= "user" th:value="${name}"><br>
    <button type="submit">Submit</button>

</form>

</body>
</html>