<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Store</title>
</head>
<body>

<h2>Our lovely pets</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Owner</th>

    </tr>
    <tbody>
    <tr th:each="pet: ${pets}" th:object="${pet}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.name}"></td>
        <td>
            <span th:text="${pet.human != null} ? ${pet.human.name} : 'no owner yet'"></span>
        </td>
    </tr>
    </tbody>
</table>

<h2>Add new pet:</h2>
<form action="/add-pet" method="post" th:object="${pet}">
    <br>
    <label>Name</label>
    <br>
    <input type="text" name="petName">
    <br>
    <label>Human's name</label>
    <br>
    <select th:field="${human.id}">
        <option th:each="human : ${humans}" th:value="${human.id}" th:text="${human.name}"></option>
    </select>
    <br>

    <button type="submit">Add</button>
</form>

</body>
</html>